<div class="container mt-5">
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Customer</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/customer" class="btn btn-primary">Customer Details</a>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Employee</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/employee" class="btn btn-primary">Employee Details</a>
      </div>
    </div>
  </div>
</div>
</div>
